.astro-code {
  padding: var(--space-4xs) var(--space-2xs);
  border-radius: var(--radius-md);
  font-size: var(--step--2);
  background-color: light-dark(
    oklch(from var(--color-background) calc(l + 0.03) c h),
    oklch(from var(--color-background) calc(l - 0.02) c h)
    ) !important;
  font-variant-ligatures: none;
  overflow-y: auto;
  white-space: pre-wrap;

  @supports (corner-shape: squircle) {
    corner-shape: superellipse(1.25);
    border-radius: 20px;
    padding: var(--space-2xs) var(--space-xs);
  }
}

.astro-code,
.astro-code span {
  font-family: var(--font-code);
}

@media (prefers-color-scheme: dark) {
  :root:not(.zui-light) .astro-code,
  :root:not(.zui-light) .astro-code span {
    color: var(--shiki-dark) !important;
  }
}

:root.zui-dark .astro-code,
:root.zui-dark .astro-code span {
  color: var(--shiki-dark) !important;
}
