---
import type { HTMLAttributes } from 'astro/types'
import type { VariantProps } from 'cva'
import { badgeVariants } from '../shared/badgeVariants'

type BadgeVariantProps = VariantProps<typeof badgeVariants>

interface Props extends HTMLAttributes<'span'>, BadgeVariantProps {
  class?: string
}

const { class: className, variant, color, ...props } = Astro.props
const classes = badgeVariants({ variant, color, class: className })
---

<span class={classes} {...props}><slot /></span>
