---
import type { HTMLAttributes } from 'astro/types'
import type { VariantProps } from 'cva'
import { buttonVariants } from '../shared/buttonVariants'

type ButtonVariantProps = VariantProps<typeof buttonVariants>

interface Props extends HTMLAttributes<'button'>, ButtonVariantProps {
  href?: string
  class?: string
}

const { href, class: className, variant, accent, size, shape, icon, ...props } = Astro.props
const classes = buttonVariants({ variant, accent, size, shape, icon, class: className })
---

{
  href ? (
    <a class={classes} href={href} {...props}>
      <slot />
    </a>
  ) : (
    <button class={classes} {...props}>
      <slot />
    </button>
  )
}
