---
import type { HTMLAttributes } from 'astro/types'
import { type TextSize, textSizeClass } from '../shared/textSizeClass'

interface Props extends HTMLAttributes<'span'> {
  size?: TextSize
  class?: string
}

const { size = '0', class: className, ...props } = Astro.props
const classes = [textSizeClass(size), className].filter(Boolean).join(' ')
---

<span class={classes} {...props}><slot /></span>
