@layer zui.utilities {
  /* All margins */
  .m-0 {
    margin: var(--space-0);
  }

  .m-auto {
    margin: auto;
  }

  .m-2xs {
    margin: var(--space-2xs);
  }

  .m-xs {
    margin: var(--space-xs);
  }

  .m-sm {
    margin: var(--space-sm);
  }

  .m-md {
    margin: var(--space-md);
  }

  .m-lg {
    margin: var(--space-lg);
  }

  .m-xl {
    margin: var(--space-xl);
  }

  .m-2xl {
    margin: var(--space-2xl);
  }

  .m-3xl {
    margin: var(--space-3xl);
  }

  .m-4xl {
    margin: var(--space-4xl);
  }

  /* Horizontal margins */
  .mx-0 {
    margin-inline: var(--space-0);
  }

  .mx-auto {
    margin-inline: auto;
  }

  .mx-2xs {
    margin-inline: var(--space-2xs);
  }

  .mx-xs {
    margin-inline: var(--space-xs);
  }

  .mx-sm {
    margin-inline: var(--space-sm);
  }

  .mx-md {
    margin-inline: var(--space-md);
  }

  .mx-lg {
    margin-inline: var(--space-lg);
  }

  .mx-xl {
    margin-inline: var(--space-xl);
  }

  .mx-2xl {
    margin-inline: var(--space-2xl);
  }

  .mx-3xl {
    margin-inline: var(--space-3xl);
  }

  .mx-4xl {
    margin-inline: var(--space-4xl);
  }

  /* Left margins */
  .ml-0 {
    margin-inline-start: var(--space-0);
  }

  .ml-auto {
    margin-inline-start: auto;
  }

  .ml-2xs {
    margin-inline-start: var(--space-2xs);
  }

  .ml-xs {
    margin-inline-start: var(--space-xs);
  }

  .ml-sm {
    margin-inline-start: var(--space-sm);
  }

  .ml-md {
    margin-inline-start: var(--space-md);
  }

  .ml-lg {
    margin-inline-start: var(--space-lg);
  }

  .ml-xl {
    margin-inline-start: var(--space-xl);
  }

  .ml-2xl {
    margin-inline-start: var(--space-2xl);
  }

  .ml-3xl {
    margin-inline-start: var(--space-3xl);
  }

  .ml-4xl {
    margin-inline-start: var(--space-4xl);
  }

  /* Vertical margins */
  .my-0 {
    margin-block: var(--space-0);
  }

  .my-auto {
    margin-block: auto;
  }

  .my-2xs {
    margin-block: var(--space-2xs);
  }

  .my-xs {
    margin-block: var(--space-xs);
  }

  .my-sm {
    margin-block: var(--space-sm);
  }

  .my-md {
    margin-block: var(--space-md);
  }

  .my-lg {
    margin-block: var(--space-lg);
  }

  .my-xl {
    margin-block: var(--space-xl);
  }

  .my-2xl {
    margin-block: var(--space-2xl);
  }

  .my-3xl {
    margin-block: var(--space-3xl);
  }

  .my-4xl {
    margin-block: var(--space-4xl);
  }

  /* Right margins */
  .mr-0 {
    margin-inline-end: var(--space-0);
  }

  .mr-auto {
    margin-inline-end: auto;
  }

  .mr-2xs {
    margin-inline-end: var(--space-2xs);
  }

  .mr-xs {
    margin-inline-end: var(--space-xs);
  }

  .mr-sm {
    margin-inline-end: var(--space-sm);
  }

  .mr-md {
    margin-inline-end: var(--space-md);
  }

  .mr-lg {
    margin-inline-end: var(--space-lg);
  }

  .mr-xl {
    margin-inline-end: var(--space-xl);
  }

  .mr-2xl {
    margin-inline-end: var(--space-2xl);
  }

  .mr-3xl {
    margin-inline-end: var(--space-3xl);
  }

  .mr-4xl {
    margin-inline-end: var(--space-4xl);
  }

  /* Top margins */
  .mt-0 {
    margin-block-start: var(--space-0);
  }

  .mt-auto {
    margin-block-start: auto;
  }

  .mt-2xs {
    margin-block-start: var(--space-2xs);
  }

  .mt-xs {
    margin-block-start: var(--space-xs);
  }

  .mt-sm {
    margin-block-start: var(--space-sm);
  }

  .mt-md {
    margin-block-start: var(--space-md);
  }

  .mt-lg {
    margin-block-start: var(--space-lg);
  }

  .mt-xl {
    margin-block-start: var(--space-xl);
  }

  .mt-2xl {
    margin-block-start: var(--space-2xl);
  }

  .mt-3xl {
    margin-block-start: var(--space-3xl);
  }

  .mt-4xl {
    margin-block-start: var(--space-4xl);
  }

  /* Bottom margins */
  .mb-0 {
    margin-block-end: var(--space-0);
  }

  .mb-auto {
    margin-block-end: auto;
  }

  .mb-2xs {
    margin-block-end: var(--space-2xs);
  }

  .mb-xs {
    margin-block-end: var(--space-xs);
  }

  .mb-sm {
    margin-block-end: var(--space-sm);
  }

  .mb-md {
    margin-block-end: var(--space-md);
  }

  .mb-lg {
    margin-block-end: var(--space-lg);
  }

  .mb-xl {
    margin-block-end: var(--space-xl);
  }

  .mb-2xl {
    margin-block-end: var(--space-2xl);
  }

  .mb-3xl {
    margin-block-end: var(--space-3xl);
  }

  .mb-4xl {
    margin-block-end: var(--space-4xl);
  }
}
