---
import Layout from '../layouts/Layout.astro'
import ColorPalette from '../components/ColorPalette.astro'
---

<Layout title="Colours">
  <h1>Colour Palette</h1>
  <p>ZUI uses Tailwind's colour palette.</p>
  <p>All colour tokens available as CSS custom properties. Hover a swatch to see its CSS custom property value. Click to copy.</p>
  <ColorPalette />
</Layout>
