@layer zui.components {
  .zui-menu {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .zui-menu-content {
    --zui-menu-radius: var(--radius-xl);
    --zui-menu-border: var(--color-border);
    --zui-menu-bg: var(--color-surface);
    --zui-menu-padding: var(--space-2xs);

    position: absolute;
    inset-inline-start: 0;
    top: calc(100% + var(--space-2xs));
    display: flex;
    flex-direction: column;
    gap: var(--space-4xs);
    min-width: 12.5rem;
    padding: var(--zui-menu-padding);
    border: 1px var(--border-style, solid) var(--zui-menu-border);
    border-radius: var(--zui-menu-radius);
    background-color: var(--zui-menu-bg);
    box-shadow: var(--shadow-md);
    z-index: var(--z-2);
  }

  .zui-menu-content[hidden] {
    display: none;
  }

  .zui-menu-content[data-side='top'] {
    top: auto;
    bottom: calc(100% + var(--space-2xs));
  }

  .zui-menu-content[data-align='center'] {
    inset-inline-start: 50%;
    translate: -50% 0;
  }

  .zui-menu-content[data-align='end'] {
    inset-inline-start: auto;
    inset-inline-end: 0;
  }

  .zui-menu-item {
    justify-content: flex-start;
    width: 100%;
  }

  .zui-menu-item[data-highlighted='true'] {
    background: oklch(from var(--color-text) l c h / 0.08);
  }

  .zui-menu-item[data-disabled='true'] {
    opacity: 0.5;
  }
}
