@layer zui.base {
  /* @link https://utopia.fyi/type/calculator/?c=320,14,1.067,1350,17,1.125,10,5,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12 */
  :root {
    /* Step -5: 10.1229px → 9.4338px */
    --step--5: clamp(0.5896rem, 0.6461rem + -0.0669vw, 0.6327rem);
    /* Step -4: 10.8012px → 10.613px */
    --step--4: clamp(0.6633rem, 0.6787rem + -0.0183vw, 0.6751rem);
    /* Step -3: 11.5248px → 11.9396px */
    --step--3: clamp(0.7203rem, 0.7122rem + 0.0403vw, 0.7462rem);
    /* Step -2: 12.297px → 13.4321px */
    --step--2: clamp(0.7686rem, 0.7465rem + 0.1102vw, 0.8395rem);
    /* Step -1: 13.1209px → 15.1111px */
    --step--1: clamp(0.8201rem, 0.7814rem + 0.1932vw, 0.9444rem);
    /* Step 0: 14px → 17px */
    --step-0: clamp(0.875rem, 0.8167rem + 0.2913vw, 1.0625rem);
    /* Step 1: 14.938px → 19.125px */
    --step-1: clamp(0.9336rem, 0.8523rem + 0.4065vw, 1.1953rem);
    /* Step 2: 15.9388px → 21.5156px */
    --step-2: clamp(0.9962rem, 0.8879rem + 0.5414vw, 1.3447rem);
    /* Step 3: 17.0067px → 24.2051px */
    --step-3: clamp(1.0629rem, 0.9231rem + 0.6989vw, 1.5128rem);
    /* Step 4: 18.1462px → 27.2307px */
    --step-4: clamp(1.1341rem, 0.9577rem + 0.882vw, 1.7019rem);
    /* Step 5: 19.362px → 30.6346px */
    --step-5: clamp(1.2101rem, 0.9912rem + 1.0944vw, 1.9147rem);
    /* Step 6: 20.6593px → 34.4639px */
    --step-6: clamp(1.2912rem, 1.0232rem + 1.3403vw, 2.154rem);
    /* Step 7: 22.0434px → 38.7719px */
    --step-7: clamp(1.3777rem, 1.0529rem + 1.6241vw, 2.4232rem);
    /* Step 8: 23.5203px → 43.6183px */
    --step-8: clamp(1.47rem, 1.0798rem + 1.9513vw, 2.7261rem);
    /* Step 9: 25.0962px → 49.0706px */
    --step-9: clamp(1.5685rem, 1.103rem + 2.3276vw, 3.0669rem);
    /* Step 10: 26.7776px → 55.2045px */
    --step-10: clamp(1.6736rem, 1.1216rem + 2.7599vw, 3.4503rem);
  }
}
