@layer zui.base {
  :root {
    --line-height-2xs: 1;
    --line-height-xs: 1.25;
    --line-height-sm: 1.375;
    --line-height-md: 1.5;
    --line-height-lg: 1.625;
    --line-height-xl: 2;
    --line-height-2xl: 1.625;

    --line-height-heading: 1.1;
  }
}
