@layer zui.base {
  :root {
    --z--1: -1;
    --z-0: 0;
    --z-1: 1000;
    --z-2: 2000;
    --z-3: 3000;
    --z-4: 4000;
    --z-5: 5000;
    --z-6: 6000;
    --z-7: 7000;
    --z-8: 8000;
    --z-9: 9000;
    --z-important: 2147483647;
  }
}
