---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<section class:list={['section', className]}>
  <slot />
</section>

<style>
  .section {
    margin-block-start: var(--space-xl);
  }
</style>
