---
interface Props {
  token: string
}

const { token } = Astro.props
---

<div class="bar" style={`width: var(${token}); min-width: 2px;`}></div>

<style>
  .bar {
    height: var(--space-xs);
    background-color: var(--color-theme);
    border-radius: var(--radius-sm);
  }
</style>
