@layer zui.base {
  :root {
    --font-stack-system: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)",
      Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji";
    --font-stack-serif: Georgia, serif;
    --font-stack-sans: var(--font-stack-system);
    --font-stack-mono: "Geist Mono", Menlo, "Consolas (Custom)",
      "Bitstream Vera Sans Mono", monospace, "Apple Color Emoji",
      "Segoe UI Emoji";
  }
}
