@layer zui.base {
  :root {
    --line-height-none: 1;
    --line-height-tight: 1.25;
    --line-height-snug: 1.375;
    --line-height-normal: 1.5;
    --line-height-relaxed: 1.625;
    --line-height-loose: 2;
    --line-height-body: 1.625;
    --line-height-heading: 1.1;
  }
}
