---
interface Props {
  width: string
}

const { width } = Astro.props
---

<div class="bar-wrapper">
  <div class="bar" style={`width: ${width};`}></div>
</div>

<style>
  .bar-wrapper {
    flex-grow: 1;
  }

  .bar {
    height: var(--space-xs);
    background-color: var(--color-theme);
    border-radius: var(--radius-sm);
    max-width: 100%;
  }
</style>
