@layer zui.base {
  :root {
    --color-theme: light-dark(var(--color-mist-600), var(--color-mist-400));
    --color-accent: light-dark(var(--color-sky-600), var(--color-sky-400));
    --color-background: light-dark(
      var(--color-mist-200),
      var(--color-mist-800)
    );
    --color-surface: light-dark(var(--color-mist-100), var(--color-mist-900));
    --color-border: light-dark(var(--color-mist-300), var(--color-mist-700));
    --color-text: light-dark(var(--color-mist-700), var(--color-mist-300));
    --color-success: light-dark(
      var(--color-emerald-600),
      var(--color-emerald-400)
    );
    --color-error: light-dark(var(--color-red-600), var(--color-red-400));
    --color-warning: light-dark(var(--color-amber-600), var(--color-amber-400));
    --color-muted: oklch(from var(--color-text) l c h / 70%);
    --color-faint: oklch(from var(--color-text) l c h / 50%);
    --shadow-color: oklch(from var(--color-background) calc(l - 0.3) c h);

    --font-body: var(--font-stack-sans);
    --font-display: var(--font-body);
    --font-code: Geist Mono, var(--font-stack-mono);

    --line-height: var(--line-height-md);
    --radius-scale: 1;
    --border-style: solid;
    --focus-ring: oklch(from var(--color-accent) l c h / 80%) auto 2px;
    --focus-ring-offset: 4px;
  }

  :root.zui-dark {
    color-scheme: dark;
  }

  :root.zui-light {
    color-scheme: light;
  }
}
